name: cv-lysz210

on:
  push:
    branches:
      - master

jobs:
  build-node:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Compile assets
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - run: npm ci
      - run: npm run generate

      - name: Pulumi dependences
        working-directory: ./pulumi
        run: npm ci
      - uses: pulumi/actions@v6
        with:
          command: up
          stack-name: lysz210/lysz210.name/dev
          work-dir: pulumi
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
